.Giphy {
    border: 0.2rem solid #f00;
    border-radius: 0.8rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.Giphy-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Giphy-container img {
    border-radius: 0.8rem;
}

.Giphy-text {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
}
